/*Huvudfärger: 
Huvudfärg(Blandad Användning): #ff5733          Tomatröd
Sekundär färg(Bakgrund mm): #fffffc             Beigevit
Reklamvarningsfärg mm: #fcba04                  Gul
Textfärg för Sekundär färg mm: #590004          Träbrun
Textfärg Huvudfärg mm: #250001                  Svartish
*/

/* Gäller hela hemsidan */

html {
    size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: grid;
    row-gap: 20px;
    grid-template-rows: 10vh 1fr 60vh;
    grid-template-areas:
    'hd'
    'mn'
    'ft'
    ;
}

header {
    grid-area: hd;
    display: grid;
    margin: 0px;
    padding: 0px;
    background-color: #ad3d24;
    
    grid-template-columns: 25% 75%;
    grid-template-areas:
    'lg nv'
    ;
}

div.logo {
    grid-area: lg;
    border-radius: 10px;
    display: flex;
    max-height: 10vh;
    justify-content: center;
    background-color: #ff5733;
}
div.logo img {
    max-height: 10vh;
}

nav {
    grid-area: nv;
    display: flex;
    border-radius: 10px;
    background-color: #ff5733;
}

nav a {
    color: #250001;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover {
    background-color: #250001;
    color: #ff5733;
    border-radius: 10px;
}


main {
    grid-area: mn;
}



footer {
    grid-area: ft;
    flex-direction: column;
    display: flex;
    padding: 10px;
    justify-content: center;
    text-align: center;
    background-color: #ff5733;
    text-emphasis-color: #250001;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Gäller endast index */

main#a {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'av saa ah'
    'av sab ah'
    'av sac ah'
    'av sad ah'
    'av sae ah'
    ;
}
aside.adsv {
    grid-area: av;
    background-color: #daa520;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    
}
aside.adsh {
    grid-area: ah;
    background-color: #daa520;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}
section#saa {
    grid-area: saa;
    background-color:#ff5733;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    align-items: center;
    font-size: 80px;
    display: flex;
    justify-content: space-around;
}
div#saaa {
    font-size: 18px;
    max-width: 20vw;
}
section#saa:hover{
    color:#ff5733;
    background-color: #000000
}

section#sab {
    grid-area: sab;
    background-color:#ff5733;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    align-items: center;
    font-size: 80px;
    display: flex;
    justify-content: space-around;
}
div#saba {
    font-size: 18px;
    max-width: 20vw;
}
section#sab:hover{
    color:#ff5733;
    background-color: #000000;
}

section#sac {
    grid-area: sac;
    background-color:#ff5733;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    align-items: center;
    font-size: 80px;
    display: flex;
    justify-content: space-around;
}
div#saca {
    font-size: 18px;
    max-width: 20vw;
}
section#sac:hover{
    color:#ff5733;
    background-color: #000000;
}

section#sad {
    grid-area: sad;
    background-color:#ff5733;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    align-items: center;
    font-size: 80px;
    display: flex;
    justify-content: space-around;
}
div#sada {
    font-size: 18px;
    max-width: 20vw;
}
div#sada a{
    color: #4e81f1;
    text-decoration: none;
}
div#sada a:hover{
    color: #00ffff;
}
section#sad:hover{
    color:#ff5733;
    background-color: #000000;
}

a#asae {
    text-decoration-line: none;
}
section#sae {
    grid-area: sae;
    background-color:#ff5733;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    align-items: center;
    font-size: 80px;
    display: flex;
    justify-content: space-around;
}
div#saea {
    font-size: 18px;
    max-width: 20vw;
}
section#sae:hover{
    color:#ff5733;
    background-color: #000000;
    
}

/* Gäller endast aboutus */

main#b{
    display: grid;
    grid-row: 3fr 1fr;
    gap: 5px;
}
div.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-rows: 5vh 1fr 1fr 1fr;
    grid-template-areas:
    'tt tt tt'
    'baa bab bac'
    'bba bbb bbc'
    'bca bcb bcc'
    ;
}
div#theteam {
    grid-area: tt;
    background-color: #fd6847;
    color: #fffffc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.auimage{
    background-color: #ff5733;
    padding: 10px;
    color: #fffffc;
    display: flex;
    height: 100px;
    justify-content: center;
    border-radius: 5px;

}
section#au {
    background-color: #ad3d24;
    padding: 10px;
    color: #fffffc;
    height: 1fr;
    border-radius: 5px;
    display: grid;
}

div.supporters {
    display: grid;
    background-color: #4e81f1;
    color: #fffffc;
    border-radius: 10px;
    padding: 10px;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-areas:
    'dia gld bnz';
}
div#diasup {
    grid-area: dia;
    background-color: #00ffff;
    color: #000000;
    font-size: xx-large;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    flex-direction: column;    
    align-items: center;
}
div#gldsup {
    grid-area: gld;
    background-color: #daa520;
    color: #000000;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    border-radius: 10px;
    flex-direction: column;    
    align-items: center;

}
div#brosup {
    grid-area: bnz;
    background-color: #b8860b;
    color: #000000;
    font-size: xx-small;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    flex-direction: column;    
    align-items: center;
    text-overflow: ellipsis;
    
}


/* Gäller endast third */

main#tmain {
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-areas: 'ada res adb';
    gap: 10px;
}

div#results{
    grid-area: res;
    display: flex;
    gap: 5vh;
    flex-direction: column;
}


.ts {
    background-color: #ff5733;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    padding: 15px;
    max-height: 40vh;
}
aside#tada {
    grid-area: ada;
    background-color: #daa520;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}
aside#tadb {
    grid-area: adb;
    background-color:#daa520;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.timage {
    background-color: #fffffc;
    border-radius: 5px;
    padding: 5px;
}

.timg {
    max-height: 30vh;
}

a {
    text-decoration-line: none;
    color: inherit;
}

.ts:hover {
    background-color: #000000;
    color: #ff5733;
}